<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johel.smartschoolapp">
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Camera permission for taking pictures -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SmartSchoolApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartSchoolApp">

        <!-- New activity: RecyclerView students list -->
        <activity
            android:name=".StudentListActivity"
            android:exported="false" />

        <!-- === Project activities === -->

        <!-- Main screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Students module -->
        <activity
            android:name=".StudentActivity"
            android:exported="false" />

        <!-- Routes module -->
        <activity
            android:name=".RouteActivity"
            android:exported="false" />

        <!-- Attendance module -->
        <activity
            android:name=".AttendanceActivity"
            android:exported="false" />

        <!-- Drivers module -->
        <activity
            android:name=".DriverActivity"
            android:exported="false" />

        <!-- Buses module -->
        <activity
            android:name=".BusActivity"
            android:exported="false" />

        <!-- Guardians module -->
        <activity
            android:name=".GuardianActivity"
            android:exported="false" />

        <activity
            android:name=".StudentMenuActivity"
            android:exported="false" />

    </application>

</manifest>
